@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

/********************  GENERALS  *************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

html{
    font-family: 'Nunito';
    font-size: 12px;
    font-weight: 600;
}

section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    background-color: rgb(27, 27, 27);
}

.container{
    width: 90%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/********************  NAVBAR FORM  *************************/
.brand{
    text-align: center;
    font-size: 4rem;
    color:whitesmoke;
    margin-bottom: 30px;
}

form{
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    border-radius: 4px;
    background-color: rgb(233, 233, 233);
}

form input{
    width: 100%;
    background-color: transparent;
    padding: 10px;
    border: none;
    font-size: 2rem;
    display: inline-block;
}

form ion-icon{
    float: right;
    width: 9%;
    font-size: 3rem;
    margin-top: -39px;
    color: rgb(75, 75, 75);
    margin-right: 2px ;
}

.search-result{
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-gap: 25px;
    grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
}

.item{
    width: 100%;
    max-width: 30rem;;
    border-radius: 8px;
    background-color: rgb(37, 37, 37);
    padding: 15px;
    overflow: hidden;
}

.item img{
    width: 100%;
    height: 300px;
    border-radius: 4px;
}

.item .flex-container{
    display: flex;
    align-items: space-between;
}

.item .title{
    color: whitesmoke;
    margin: 20px 10px 0 0;
    font-size: 1.8rem;
    font-weight: 400;
}

.view-button{
    text-decoration: none;
    text-align: center;
    min-width: 130px;
    float: right;
    margin-right: 2px !important;
    padding: 10px 0;
    background-color: rgba(87, 87, 87, 0.9);
    color: whitesmoke;
    font-size: 1.4rem;
    margin-top: 20px;
    align-self: flex-start;
}

.view-button:hover{
    transition: all 400ms;
    background-color: rgba(64, 64, 65, 0.7);
}

.item-data{
    display: block;
    color: whitesmoke;
    margin-top: 10px;
    font-size: 1.4rem;
    letter-spacing: .05rem;
    line-height: 2rem;;
}

.container .initial .brand{
    font-size: 7rem;
}

.container .initial form{
    max-width: 800px;
}

.container .initial form input{
    padding: 20px;
    font-size: 3rem;
}

/********************  RESPONSIVE  *************************/

@media (max-width: 768px){
    .search-result{
        grid-gap: 10px;
    }

    .container .initial .brand{
        font-size: 4rem;
    }

    .container .initial form{
        max-width: 500px;
    }

    .container .initial form input{
        padding: 10px;
        font-size: 2rem;
    }

    .item{
        margin: 20px auto;
    }
}